
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #023E84;
}

body{
    background-image: url(/imagens/BACKGROUND.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding:12%;
    overflow-x: hidden;
    overflow-y: hidden;
    
}

.container{
    width: 100%;
    height: 100%;
}

.direti_logo{
    margin: 10px;
    width: 110px;

}

.pmm_logo{
    margin: 10px;
    width: 70px
}

.glpi_logo{
    width: 110px;
    margin: 10px;
}

.logos{
    position: relative;
    top: 100px;
    left:390px;
    height: auto;
}

.select{
    font-family: 'SF Pro Display';
    font-size: 16px;
    top: 205px;
    left: 640px;
    position: absolute;
    color: white;
}

.cards{
    position: absolute;
    top:260px;
    left:330px;

}


.text_infra{
    font-size:15px;
    position: absolute;
    font-family: 'SF Pro Display';
    color: white;
    top: 175px;
    left: 560px;

}

.text_ti{
    font-size:15px;
    position: absolute;
    font-family: 'SF Pro Display';
    color: white;
    top: 175px;
    left: 150px;
    
}

.cards button{
    border:none;
    font-size:10px;
    width: 150px;
    height: 28px;
}

.cards button:hover{
    background-color: #0c57ac;

}

.botao_ti{
    color:rgb(255, 255, 255);
    background-color: #023E84;
    border-radius: 6px;
    font-family: 'SF Pro Display';
    position: absolute;
    top:250px;
    left: 128px;
}

.botao_infra{
    color:rgb(255, 255, 255);
    background-color: #023E84;
    border-radius: 6px;
    font-family: 'SF Pro Display';
    box-shadow: none;
    position:absolute;
    top: 250px;
    left:550px;

}

.card{
    width: 400px;
    height: auto;
    margin: 8px;
    border-radius: 20px;
}


.icon_ti{
    width: 70px;
    top: 100px;
    left: 175px;
    position:absolute;

}

.icon_infra{
    width: 70px;
    top: 100px;
    left: 590px;
    position:absolute;

}
